.button {
  background-color: var(--blue-sapphire);
  color: white;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  margin: 8px;
}

.button:hover {
  background-color: var(--cerulean-crayola);
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
