.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: var(--maximum-red);
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu li {
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: white;
}
